@model ShopRosKvartal.Areas.AdminPanel.Models.ViewModels.Shop.Tastes.ViewTasteDelete

@{
    ViewBag.Title = "Удаление вкуса";
}

<section class="content">
    <div class="row">

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">@ViewBag.Title <strong>@Model.Name</strong></h3>
                </div>

                @using (Html.BeginForm("Delete", "Tastes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Name)
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Name)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.ProductsCount)
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ProductsCount)
                            </div>
                        </div>

                        @if (Model.Products.Count > 0)
                        {
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.DeleteAll) @Html.LabelFor(model => model.DeleteAll)
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Products)
                                </div>
                                <div class="col-md-8">
                                    @foreach (var item in Model.Products)
                                    {
                                        <div class="row">
                                            @item.Name
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="box-footer">
                        @Html.ActionLink("Назад к списку брэндов", "Index", "Tastes", null, new { @class = "btn btn-default" })
                        <button type="submit" class="btn btn-danger pull-right">Удалить</button>
                    </div>
                }
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $("#store").addClass("active");
            $("#storetastes").addClass("active");
            $("#storetastesall").addClass("active");
        });
    </script>
}