@model ShopRosKvartal.Areas.AdminPanel.Models.ViewModels.Shop.Prices.ViewProductPriceDelete

@{
    ViewBag.Title = "Удаление производителя";
}

<section class="content">
    <div class="row">

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">@ViewBag.Title <strong>@Model.Price</strong></h3>
                </div>

                @using (Html.BeginForm("Delete", "Prices", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ProductId)
                    
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.DateSet)
                            </div>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.DateSet)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <strong>Текущая цена:</strong>
                            </div>
                            <div class="col-md-8">
                                @{
                                    string text = "нет";
                                    if (Model.CurrentPrice)
                                    {
                                        text = "да";
                                    }
                                }
                                @text
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        @Html.ActionLink("Отмена", "Details", "Products", new { id = Model.ProductId }, new { @class = "btn btn-default" })
                        <button type="submit" class="btn btn-danger pull-right">Удалить</button>
                    </div>
                }
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $("#store").addClass("active");
            $("#storeproducts").addClass("active");
            $("#storeproductsall").addClass("active");
        });
    </script>
}