@model ShopRosKvartal.Models.SiteTools.ToolsSMTPSetting

@{
    ViewBag.Title = "Редактирование почтового протокола (SMTP)";
}

<section class="content">
    <div class="row">

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Форма редактирования почтового протокола (SMTP)</h3>
                </div>

                @using (Html.BeginForm("SMTPSettingsEdit", "SiteTools", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Id)
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailFrom, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4" })
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.EmailFrom, new { @class = "form-control" }) <br />
                                @Html.ValidationMessageFor(model => model.EmailFrom, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4" })
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" }) <br />
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4" })
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" }) <br />
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Host, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4" })
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.Host, new { @class = "form-control" }) <br />
                                @Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Port, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4" })
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.Port, new { @class = "form-control" }) <br />
                                @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        @Html.EditorFor(model => model.EnableSsl) @Html.LabelFor(model => model.EnableSsl)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        @Html.ActionLink("Отмена", "SMTPSettings", "SiteTools", null, new { @class = "btn btn-default" })
                        <button type="submit" class="btn btn-primary pull-right">Сохранить</button>
                    </div>
                }
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $("#sitetools").addClass("active");
            $("#sitetoolssmtp").addClass("active");
        });
    </script>
}